
TAP/CSharp/TaskStudy/obj/

TAP/FSharp/TaskStudy/obj/

TAP/CSharp/TaskStudy/bin/Debug/net5.0/

AkinshinProblemBooks/AkinshinProblemBooks/bin/Debug/net5.0/

AkinshinProblemBooks/AkinshinProblemBooks/obj/

TAP/FSharp/TaskStudy/bin/Debug/net5.0/

MemoryTesting/.idea/.idea.MemoryTesting/.idea/

MemoryTesting/MemoryTesting/bin/Debug/net5.0/

MemoryTesting/MemoryTesting/obj/Debug/net5.0/

MemoryTesting/MemoryTesting/obj/
